<div style="text-align: center">

  <div class="mat-headline" fxLayoutAlign="center center" style="padding: 16px 0 24px; font-size: 22px">Register for chat app</div>

    <mat-form-field style="font-size: 20px; width: 100%">
      <input matInput type="email" placeholder="Username" [(ngModel)]="username">
    </mat-form-field>

  <mat-form-field style="font-size: 20px; width: 100%">
    <input matInput type="email" placeholder="Email" [(ngModel)]="email">
  </mat-form-field>

  <mat-form-field style="font-size: 20px; width: 100%">
    <input matInput type="password" placeholder="Passsord" [(ngModel)]="password"><br>
  </mat-form-field>

  <div style="padding: 24px 0 16px">
    <button mat-raised-button (click)="register()"
      style="background-color: #880e4f; color: #fff; margin-right: 20px">Register</button>
    <button mat-raised-button (click)="login()" style="color: #880e4f">Login</button>
  </div>

</div>